.task-cancel {
  display: flex;
  align-items: center;
}

.task-cancel_text {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.task-cancel_new-label {
  display: block;
  margin-left: 5px;
}
