@import '~scss/variables';

.task-take-to-work-button {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 0 12px;
  border: 2px solid #E6E6E6;
  border-radius: 8px;
  background-color: $white;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  transition: all 2ms ease-in;
  cursor: pointer;

  @media (max-width: ($screen-smd - 1)) {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  &:hover {
    background-color: $background-grey;
  }
}

.task-take-to-work-button_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
